[submodule "referto/CMake"]
	path = referto/CMake
	url = https://github.com/Kitware/CMake.git
[submodule "referto/cmake-examples"]
	path = referto/cmake-examples
	url = https://github.com/ttroy50/cmake-examples.git
